<div>
    <label for="fistText">@Title</label>
    <textarea id="fistText" class="form-control" @bind="@Text"></textarea>
</div>

@code{
    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public String Text {get; set;}
}