@page "/formatador"
<div>
    <h1>Formatador de texto</h1>
    <div>
        <label for="fistText">Origem</label>
        <textarea id="fistText" class="form-control" @bind="@Original"></textarea>
    </div>
    <div>
        <label for="fistText">Resultado</label>
        <textarea id="fistText" class="form-control" @bind="@Formatado" disabled></textarea>
    </div>
</div>
<div class="btn-group" role="group" aria-label="Opções para formatação">
    <input type="checkbox" class="btn-check" id="upper" @bind="@Upper" autocomplete="off">
    <label class="btn btn-outline-primary" for="upper">Upper</label>

    <input type="checkbox" class="btn-check" id="strip" @bind="@Strip" autocomplete="off">
    <label class="btn btn-outline-primary" for="strip">Strip</label>

    <input type="checkbox" class="btn-check" id="trim" @bind="@Trim" autocomplete="off">
    <label class="btn btn-outline-primary" for="trim">Trim</label>
</div>
<button type="button" class="btn btn-primary" @onclick="@realizarFormatacao">Formatar</button>

@code {
    string Original;
    string Formatado;
    private bool Upper = false;
    private bool Strip = false;
    private bool Trim = false;

    void realizarFormatacao()
    {
        IFormatter formater = new Formatter();
        if (Upper)
        {
            formater = new FormatterUpper(formater);
        }

        if (Strip)
        {
            formater = new FormatterSpecial(formater);
        }

        if (Trim)
        {
            formater = new FormatterTrim(formater);
        }

        Formatado = formater.Formatar(Original);
    }
}